.checkoutProduct {
display:block;
margin-top: 20px;
margin-bottom: 20px;
background-color:whitesmoke;
}

.removeProduct {
background: #f0c14b;
border-radius: 2px;
width: 20%;
height: 30px;
border: 1px solid;
margin-top: 10px;
border-color: #a88734 #9c7e31 #846a29;

}

.removeProduct:hover {
background: #f0c14b ;

}

.removeProduct:active {
background-color: #f3c85c;
transform: translateY(4px);
    
}

.checkoutProduct_image {
object-fit: contain;
height: 200px;
width: 200px;

}

.checkoutProduct_title {
font-size: 17px;
font-weight: 700;

}